.Dashboard {
  height: 90%;
}

.Dashboard .footer {
  background-color: #99f36f;
  height: 100px;
}

.Dashboard .recommend {
  text-decoration: none;
  background-color: #251a6c;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.Dashboard .title {
  font-size: 15pt;
  font-weight: bold;
  margin-left: 15px;
}

.Dashboard .tab {
  margin: 15px;
  font-size: 20px;
}

.Dashboard .tabContainer {
  margin-left: 10px;
}

.Dashboard h3 {
  font-size: 25px;
  text-decoration: underline;
  margin: 0 15px 5px 15px;
}

@media only screen and (min-width: 768px) {
}
