.Details .title {
  color: #251a6c;
  font-size: 40pt;
  font-weight: bold;
  padding: 10px;
}

.Details .titleImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.Details p {
  color: #251a6c;
  padding: 10px;
  font-size: 35;
  font-weight: bold;
}

.Details {
  background-color: white;
}

.Details .img {
  max-height: 40vh;
}

@media only screen and (min-width: 768px) {
  .Details .titleImg {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .Details p {
    padding: 10px 20px;
  }
}
