.Header .title-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  height: 125px;
  background-color: #ccd7fd;
  border-bottom: 10px solid #99f36f;
  position: relative;
}

.Header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #251a6c;
}

.Header .nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.Header .link {
  padding: 10px 10px 0 0;
  font-size: 13px;
}

.Header .headerh1 {
  text-decoration: underline;
}
.Header .headerh2 {
  font-size: 12px;
}

.Header .castleLogo {
  height: 100%;
  transform: translate(0px, 5px);
}

.Header .button {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .Header .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .Header {
    justify-content: space-between;
  }
  .Header .link {
    padding: 10px 10px 0 0;
    font-size: 20px;
  }

  .Header .headerh1 {
    font-size: 2.5em;
  }

  .Header .headerh2 {
    font-size: 15px;
  }
}
