.PreferenceListItem {
  border: 2px solid black;
  border-radius: 10px;
  width: 90vw;
  margin: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.selected {
  border: 2px solid teal;
  border-radius: 10px;
}

.PreferenceListItem .thumbImg {
  width: 100%;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .PreferenceListItem {
    width: 27vw;
  }
}
