.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  height: 100%;
}

.Search .search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  border: 2px solid #251a6c;
  border-radius: 10px;
  width: 80vw;
  padding: 10px;
  background-color: white;
}

.Search .search-button {
  width: 100px;
}
