body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  background-color: lightgray;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1,
h2,
h3,
h4,
p,
ul,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #251a6c;
}

a {
  font-weight: bold;
  color: #251a6c;
}

button {
  text-decoration: none;
  background-color: #251a6c;
  color: white;
  border: none;
  padding: 3px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  button {
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
  }
}
